# Ignore node_modules
node_modules

# Ignore the .next build directory
.next

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local

# Ignore version control
.git
.gitignore

# Ignore Docker-related files if unnecessary
.dockerignore
docker-compose.override.yml

# Ignore OS-specific files
.DS_Store
Thumbs.db