# Ignore sensitive files
**/.env
**/.env.local
**/.env.*.local

# Ignore installation folders in all directories
**/.next/
**/node_modules/
**/.pnpm-store/

# Database files
apps/**/data/
/blobs/
/data/
**/dist/
catalog.db