services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/
      # Prevent node_modules and .next from being overwritten by host
      - /app/node_modules
      - /app/.next
      # Persist SQLite database
      - ./data:/app/data

  python:
    build:
      context: ./python
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - USE_CUDA=true
    volumes:
      - ./python/:/app/
    runtime: nvidia
