services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/
      # Prevent the node_modules and .next directories from being copied to the container. 
      - /app/node_modules
      - /app/.next

  python:
    build:
      context: ./python
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - USE_CUDA=true
    volumes:
      - ./python/:/app/
    runtime: nvidia